* {
    main-bg:            #020102B3;
    main-fg:            #FFCCFFE6;
    main-br:            #D853D6E6;
    main-ex:            #6B3A6AE6;
    select-bg:          #F0AAE880;
    select-fg:          #52294DE6;
}
