* {
    main-bg:            #28244BB3;
    main-fg:            #D1CCFFE6;
    main-br:            #A47997E6;
    main-ex:            #62426EE6;
    select-bg:          #F0CAAA80;
    select-fg:          #523B29E6;
}
