* {
    main-bg:            #171917B3;
    main-fg:            #CCFFCCE6;
    main-br:            #736758E6;
    main-ex:            #3A392FE6;
    select-bg:          #F0E1AA80;
    select-fg:          #524929E6;
}
