[Desktop Entry]
Name=Game 1139268729578987601
Exec=/home/alex/minecraft/runtime/java-runtime-delta/bin/java %u
Type=Application
NoDisplay=true
Categories=Discord;Games;
MimeType=x-scheme-handler/discord-1139268729578987601;
