[Desktop Entry]
Name=Game 831593107883032657
Exec=/home/alex/minecraft/runtime/jre-legacy/bin/java %u
Type=Application
NoDisplay=true
Categories=Discord;Games;
MimeType=x-scheme-handler/discord-831593107883032657;
